/* header css */
.logo{
    position: absolute;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}
.banner{
    overflow: unset!important;
}

.mob-banner {
    display: none;
  }

.desk-banner {
  width:"-webkit-fill-available";
  }
  
  @media only screen and (max-width: 760px) {
    .desk-banner{
      display: none!important;
    }
    .mob-banner {
      display: block!important;
      height: 705px;
      width: 529px;
    }
  }

  .top-slider-text1{
    text-align: left;
    bottom: 294px;
    left: 890px;
  }

  .top-slider-text2{
    text-align: left;
    bottom: 294px;
    left: 88px;
    color: white;
  }

  .top-slider-text3{
    text-align: left;
    bottom: 100px;
    left: 88px;
    color: black;
  }

.text{
    top: 80%;
    transform: translateY(-80%);
    width: 50%;
    left: 100px;
}
.bold{
    font-size: 22px;
    color: #0E0E0E;
    letter-spacing: 1.33px;
    line-height: 38px;
}
h5 h4{
    
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 600 !important;
    line-height: 32px;
}


.slider {
    zoom: 1;
     padding: 0px;
}

.flex-viewport{
    position: relative;
    overflow: unset!important;
}

.discover {
    position: absolute;
   
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    padding: 16px 30px;
    box-sizing: border-box;
    background: #e0f3f1;
    font-size: 12px;
    letter-spacing: 2px;
    text-align: center;
    bottom: 0px;
}


.scroll-discover-text {
  text-decoration:none;
  color: #202020
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
  }

  .carousel-inner-top
  {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-right: 0px;
  }

  .header{
      background: #fff;
  }

  /* .a{
    max-width: unset;
    padding: 0px 20px;
    box-sizing: border-box;
     } */


/* navbar css */
#header{
  box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.3);
}

#header_logo{
  width: 130px;float: left;padding-top: 15px!important;
}


.find-wallpaper{
    padding: 16px 30px;
    box-sizing: border-box;
    background: #7ACDC8;
    font-size: 14px;
    color: #FFFFFF!important;
    letter-spacing: 1.23px;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
}

.menu{
  font-weight: 500;
}

/* wallpaper css */

.wallpaper-text {
    position: absolute;
    top: 1069px;
    left: 53%;
    width: 30%;
    transform: translate(-50%, -45%);
}
.side-heading {
    font-size: 28px;
    color: #202020;
    margin-bottom: 14px;
    display: inline-block;
}

.mob-wall {
    display: none;
  }
  
  @media only screen and (max-width: 760px) {
    .main-wall{
      display: none!important;
    }
    .mob-wall {
      display: block!important;
    }
  }

  .mob-wall-text {
    display: table-cell;
    vertical-align: middle;
    font-size: 20px;
    color: #202020;
    letter-spacing: 0.5px;
    line-height: 30px;
    text-align: left;
    padding-left: 30px;
    padding-right: 30px;
    box-sizing: border-box;
}

.wallpaper-down
{
  padding-left: 200px;
  padding-top: 64px;
  padding-bottom: 64px;
  padding-right: 50px;
}

.wallpaper-heading h2
{
  font-size: 28px; color: #202020;  letter-spacing: 0.83px;  text-align: center;
      line-height: 38px;  font-weight: normal;margin-bottom: 16px;
}

.why-wallpaper-image
{
  margin-left:0px;width: 458px;
}

.wallpaper-item h3{
  font-size: 0.75rem;  letter-spacing: 1.2px; font-weight: 400;
}

.wallpaper-down-text
{
  padding: 168px 100px;
 padding-left: 20px;
 padding-right: 200px;
}

.longlifeheading h3{
  font-size: 28px;letter-spacing: 0.5px;font-weight: 400;margin-bottom:13px;
}

.longlifeheading p{
  font-size: 16px;font-weight: 300; word-spacing: 1px;
}


/* DESIGN COLLECTION CSS */


.design-collection-text
{
  text-align: center; font-size: 24px; letter-spacing: 1px;font-weight: 400;margin-bottom: 33px;
}

.design-collection-images
{
  height: 400px;
  width: 363px;
}

.title
{
  padding: 0px;margin:0px;font-size:20px;text-align: center;
}

.container{
  width:363px;
  height: 400px;
  position: relative;
  padding:0px;
  
  
}

.image
{
  display: block;
  width: 363px;
  height:400px;
}

.overlay
{ 
  width: 363px;
  height: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  overflow: hidden;

  background:rgba(122,205,200,0.8);

}

.container:hover > .overlay{
  height: 100%;
  display: block;
  transform-origin: bottom;
}

.atext
{
  color: #ffff;
  background-color: rgb(03 31 31 / 1%);
  font-size: 18px;
  height: 34px;
  width: 112px;
  position: absolute;
  transform: translate(133px,187px);
  border: 1px solid rgb(128, 116, 116);
  padding: 0px;
}

.abstract
{
  text-align: center;
          font-weight: 300;
          padding: 7px;
          font-size: 15px;
}

/* why wallpaper css */
.w3-center {
    text-align: center!important;
}

.homepage .heading h2 {
    font-style: normal;
}

.heading h2 {
    font-family: Avenir-Light;
    font-size: 28px;
    color: #202020;
    letter-spacing: 0.83px;
    text-align: center;
    line-height: 38px;
    font-weight: normal;
}

.w3-content {
    max-width: 980px;
    margin: auto;
}

.homepage .why-wallpaper .wallpaper-item .sub-heading {
    background-position: left 15px top 15px;
    background-repeat: no-repeat;
    padding: 15px 10px;
    background-color: rgb(248, 238, 225);
    font-size: 12px;
    font-family: Avenir-Light;
    color: #202020;
    letter-spacing: 0.83px;
    box-sizing: border-box;
    transition: all 0.0s ease;
}

.sub-heading h4 {
    font-family: Avenir-Light!important;
    font-size: 11px;
    color: #202020;
    letter-spacing: 2.4px;
    font-weight: normal!important;
}


.mob-why-wallpaper{
  display:none;
}

.desktop-wallpaper{
  display: block!important;
}

@media only screen and (max-width: 760px) {
  .desktop-wallpaper{
    display: none!important;
  }
  .mob-why-wallpaper {
    display: block!important;
  }
}


.wallpaper-item {
  background-position: center top 20px;
  background-repeat: no-repeat;
  text-align: center;
  text-transform: uppercase;
  padding: 60px 41px 18px;
  box-sizing: border-box;
  margin-bottom: 15px;
  margin-right: 7.5px;
  margin-left: 7.5px;
  background-color: #fff;
  cursor: pointer;
  width:175px;
 
}

#bordercurve {
  border-radius: 11px 0px 0px 11px;
}


/* MYTHS CSS */

.icon-bottom-prev
{
    background-position-x: 10px;
    background-position-y: 17px;
    background-size: 18px;
    background-image: url('https://stenna.in/wp-content/themes/stenna/img/left.png');
    margin-right: -12px;
    
    background-color: #7ACDC8;width: 40px; height: 70px;
    background-repeat: no-repeat;
}

.icon-bottom-next
{
    background-position-x: 10px;
    background-position-y: 17px;
    background-size: 18px;
    background-image: url('https://stenna.in/wp-content/themes/stenna/img/right.png');
    margin-left: -12px;
    
    background-color: #7ACDC8;width: 40px; height: 70px;
    background-repeat: no-repeat;
}


.half-image
{
    width:310px;
    height: 146.25px;
    position: relative;
    padding:0px;
}


.half-image-hover
{

    width: 310px;
    height: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    overflow: hidden;
  
    background:rgba(122,205,200,0.8);

}


.half-image:hover > .half-image-hover{
    height: 100%;
    display: block;
    transform-origin: bottom;
}

.half-image-text
{
    color: #ffff;
    background-color: rgb(03 31 31 / 1%);
    font-size: 10px;
    height: 34px;
    width: 130px;
    position: absolute;
    transform: translate(91px,45px);
    border: 1px solid #fff;
    padding:0px;
}

.desk-busting-text
{
  text-align: center;
  font-size: 28px;
  letter-spacing: 1px;
  font-weight: 400;
  margin-bottom: 33px;
}

.desk-busting-carousel{
  padding:40px;
}

.desk-myths-div{
  width: 463.33px;
  margin-right: 0px;
  float: left;
  padding: 0px 43px;
  display: block; 
}

#desk-myths{
  margin: 0px 20px;
  box-sizing: border-box;
  cursor:pointer;
  width: 370px
}

.desk-myths-title{
  padding: 0px;
  margin:0px;
  text-align:center;
  font-size: 18px;
  line-height: 30px;
}

.mobile-busting-myths {
  display: none;
}
@media only screen and (max-width: 760px) {
  .desktop-busting-myths{
    display: none!important;
  }
  .mobile-busting-myths {
    display: block!important;
  }
}

.mobile-busting-text
{
  text-align: center;
  font-size: 28px;
  letter-spacing: 1px;
  font-weight: 400;
  margin-bottom: 33px;
}

.mob-busting-carousel{
  padding:40px;
}

.mob-myths-div{
  width: 463.33px;
  margin-left: -39px;
  float: left;
  padding: 0px 43px;
  display: block;
}

#mob-myths{
  margin: 0px 20px;
  box-sizing: border-box;
  cursor:pointer;
  width: 370px
}

.mob-myths-title{
  padding: 0px;
  margin:0px;
  text-align:center;
  font-size: 18px;
  line-height: 30px;
}

.half-image-mob-text
{
    color: #ffff;
    background-color: rgb(03 31 31 / 1%);
    font-size: 10px;
    height: 34px;
    width: 130px;
    position: absolute;
    transform: translate(91px,45px);
    border: 1px solid #fff;
    padding:0px;
}

/* footer css */

.footer{
  padding: 40px 20px;
  background-color: #E3F3F1;
}

.nav-item-footer{
  padding: 15px;
  font-weight: 300;
}

.footer-menu{
  padding-left: 5%;
}

.footer-text{
  font-size: 12px;
  margin-top: 20px;
  text-align: center;
}